body {
  background-color: #3B352F;
  text-align: center;
  overflow-x: hidden;
}
.container-fluid {
  overflow-x: hidden;
}
h1,h2,h3,h4,h5 {
  margin: 0px;
  font-family: 'Dancing Script', cursive;
  border-bottom: dashed 2px #444;
  margin-top: 15px;
}
.book {
  position: relative;
  background-color: rgb(44, 79, 108);
  background-image: url('../assets/webtreats_dark_blue_leather.jpg');
  border: none;
  border-right: solid 3px rgb(49,67,100);
  border-left: solid 5px #181A25;
  box-shadow: 0px 0px 50px #000;
  height: 100%;
  padding: 0px;
  border-radius: 0px;
  color: #DDD;
  margin: 5px 0px;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
  font-size: 16px;
}
div.header {
  background-color: #9F998C;
  color: #333;
  background-image: url('../assets/extra_clean_paper_tan_@2X.png');
  text-align: center;
  display: block;
  margin: 10px 50px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5) inset;
  padding: 15px;
}
div.header h1 {
  /*font-family: 'Rubik Mono One', sans-serif;*/
  font-weight: bold;
  border:none;
  margin: 0px;
}
div.header h1 > span {
  display: block;
}
div.header h1 > span:first-child {
  font-size: 20px;
  margin-right: 30px;
}
div.header h1 > span:last-child {
  margin-left: 30px;
}
div.header div#version {
  float: left;
  color: #666;
  margin-top: -5px;
}
div.header div#author {
  float: right;
  color: #666;
  margin-top: -5px;
}

div.page {
  background-color: #AAA;
  background-image: url('../assets/extra_clean_paper_@2X.png');
  color: #444;
  margin: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  padding-bottom: 100px;
  text-align: left;
  min-height: 500px;
}

div.page h1#date {
  border:none;
  text-align: center;
  margin-bottom: 15px;
}

div.page div.panel {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 5px 0px;
  padding: 10px;
  text-align: center;
}
div.page div.panel > div > div {
  padding: 0px;
  text-align: center;
}
div.page div.panel div.icon  {
  position: relative;
  width: 72px;
  height: 72px;
  padding: 0px;
}
div.page div.panel div.icon > div {
  position: absolute;
  bottom: 0px;
  width: 72px;
  height: 72px;
  padding: 0px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: height 0.5s;
}
div.page div.panel div.icon > div:first-child {
  height: 0px;
}
div.page div.panel div#water div.icon > div:first-child {
  background-image: url('../assets/water_full.png');
}
div.page div.panel div#water div.icon > div:last-child {
  background-image: url('../assets/water_empty.png');
}
div.page div.panel div#food div.icon > div:first-child {
  background-image: url('../assets/food_full.png');
}
div.page div.panel div#food div.icon > div:last-child {
  background-image: url('../assets/food_empty.png');
}
div.page div.panel div#exercise div.icon > div:first-child {
  background-image: url('../assets/exercise_full.png');
}
div.page div.panel div#exercise div.icon > div:last-child {
  background-image: url('../assets/exercise_empty.png');
}

div.page div#quality {
  text-align: center;
  font-size: 24px;
}

div.hexcheck {
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}
div.hexcheck > div {
  display: inline-block;
  margin-bottom: -4px;
  width: 16px;
  height: 16px;
  background-image: url('../assets/hex_empty.png');
  background-size: cover;
  background-repeat: no-repeat;
}
div.hexcheck.half > div {
  background-image: url('../assets/hex_half.png');
}
div.hexcheck.full > div {
  background-image: url('../assets/hex_full.png');
}

div#noteEditor {
  position: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('../assets/hexedit_base.png');
  width: 80%;
  height: 40%;
  max-width: 250px;
  max-height: 270px;
  top: 39%;/*29%;*/
  left: 10%;
  right: auto;
  bottom: auto;
  text-align: center;
}
div#noteEditor > div {
  background-image: url('../assets/hexedit_outline.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

div.page #summary {
  width: 100%;
  background-color: transparent;
  border: none;
}

/* Dexter */
div.footmark {
  /*position: relative;
  margin: 5px;
  margin-right: 0px;
  padding: 5px;
  padding-right: 10px;
  border-radius: 7px;
  border: 3px dashed #4B4A5B;
  border-right: none;
  box-shadow: inset 5px 0px 10px -5px #000;*/

  position: relative;
  display: inline-block;
  background-color: #5E080B;
  margin: 10px -5px 10px 5px;
  color: #DDD;
  border-radius: 7px;
  padding: 10px;
  padding-right: 30px;
  box-shadow: 0px 0px 5px #000, inset 5px 0px 10px -5px #000;
  transform: translate(0px,0px);
  transition: box-shadow 0.2s, transform 0.2s;
  background-color: #132234;
  background-image: url('../assets/zwartevilt_@2X.jpg');
  text-align: center;
}
div.footmark:hover {
  box-shadow: 0px 0px 15px #000, inset 5px 0px 10px -5px #000;
  transform: translate(-3px,0px);
}
div#dexter-box {
  text-align: right;
}
canvas#dexter {
  background-color: transparent;
  min-width: 75px;
  width: 21%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  right: 0px;
  position: relative;
  z-index: 2;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 0px;
  text-align: right;
}

/* NOTIFICATIONS */
div#notif {
  width: 100%;
  text-align: center;
  margin: -20px 0px 0px;
  padding: 0px 10px -5px;
  padding-right: 21%;
  background-color: #522;
  color: #DDD;
  position: relative;
  z-index: 1;
  transform: translateY(30px);
  transition: transform 0.5s ease;
  height: 20px;
}
div#notif.visible {
  transform: translateY(0px);
}